body{
    background:linear-gradient(black , rgb(75, 31, 75));
}
.card{
    background-color: rgb(172, 188, 201);
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:15px 15px;
    justify-content: center;
  }
  .card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:150px;
    align-content: center;
    align-items: center;
    padding:10px 0;
}
  h3 , h2{
    margin: 0;
  }
  img{
    width:100px;
    height:100px;
    border-radius:5px;
  }
  .artist-link {
      text-decoration: none;
      color: black;
    }
    
    @media screen and (max-width:400px){
        .container{
        grid-template-columns: auto auto ;
    
    }
    .card{
        width: 100px;
    }
    img{
        width:80px;
        height:80px;
        border-radius:5px;
      }
      h3 , h2{
        margin: 0;
        font-size: 18px;
        text-overflow: hidden;
      }

  }